.container-body {
    margin: 10% 14% 10% 20%;
}
.grid {
    display: inline-block;
    height: 50px;
    width: 50px;
}
.slider {
    -webkit-appearance: none;
    border-bottom: 1px solid grey;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: grey;
}
.cb {
    clear: both;
}
.bg-aliceblue {
    background-color: aliceblue;
}
.animate-waterFlow {
    transition-property: background;
}
.container-row:last-of-type .container-column {
    border-bottom: 1px solid black;
}
.container-column {
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.container-column:last-of-type {
    border-right: 1px solid black
}